.customerHeader {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  border-bottom: 1px solid gray;
}

.customerPage {
  display: flex;
  align-items: center;
  width: 500px;
  margin-left: 30px;
  justify-content: space-between;
}
.latestOrder {
  display: flex;
  border: 1px solid gray;
}
.status {
  font-weight: bold;
}
.orderItem {
  margin: 20px;
}
.orderHistory {
  margin-top: 20px;
  margin-left: 30px;
}
