.searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.homeLogin {
  display: flex;
  width: 700px;
  justify-content: space-between;
}
