.ownerHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.ownerAddRestaurant {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.restaurants {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  height: 150px;
  margin-top: 20px;
}
.restaurantItem {
  display: flex;
  align-items: center;
}
.restaurantItemContainer button {
  height: 30px;
}

.restaurantItemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.restaurantInfo {
  display: flex;
  flex-direction: column;
}

.restaurantInfo form {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid gray;
  margin-bottom: 5px;
}

.restaurantInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.addMenuLink {
  display: flex;
  justify-content: flex-end;
}

.previewImage {
  margin-right: 20px;
}
