.display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}
.cartLink {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
}
.container {
  margin-top: 20px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.homeLogin {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
